.success-notification {
  padding: 20px 10px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: #bed6c8;
  text-align: center;
  font-weight: bold;
}

.error-notification {
  padding: 20px 10px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #d6c0be;
  text-align: center;
  font-weight: bold;
}
